@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.experience {
  display: flex;
  flex-direction: row;

  gap: 15px;
}

.xp_title_and_timeline {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #fff;
}

.timeline {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #737373;
}

.timline_plus_verifyBtn {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.verifyBtn {
  text-decoration: none;
  font-family: "Poppins";
  /* font-weight: 700; */
  font-size: 12px;
  line-height: 18px;
  color: #6d6d6d;

  padding: 4px 8px;

  background-color: transparent;
  border: 2px solid #172554;
  border-radius: 15px;
  transition: background-color 1s;
  transition: border-radius 0.3s;
}

.verifyBtn:hover {
  cursor: pointer;
  /* background-color: #172554; */
  color: #fff;
  border-radius: 5px;
  transition: background-color 1s;
  transition: border-radius 0.3s;
}

.verifyBtn:active{
  border-radius: 15px;
}

